<footer>
  <small>Créé par Paul TREHIOU et inspiré du theme <a href="https://startbootstrap.com/template-overviews/creative/">Creative</a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"></a> powered by <a href="https://nixos.org/">NixOS</a></small>
</footer> 
